title: Krishna Vamsi Dhulipalla
email: dhulipallakrishnavamsi@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Engineering thoughts on LLM systems, Agentic workflows, and Reverse Engineering.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username: krishna-dhulipalla

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - .sass-cache
  - .jekyll-cache
  - gemfiles
